<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @state.country_id %>
</p>

<p>
  <strong>State name:</strong>
  <%= @state.state_name %>
</p>

<p>
  <strong>State abbv:</strong>
  <%= @state.state_abbv %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
