<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lange="eng" lang="en">
<head>
  <title>Life Insurance Application</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes', :cache => 'base'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
