<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @client.gender_id %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @client.blood_type_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state_id %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country_id %>
</p>

<p>
  <strong>Age range:</strong>
  <%= @client.age_range_id %>
</p>

<p>
  <strong>Zodiac:</strong>
  <%= @client.zodiac_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @client.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @client.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @client.height %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @client.premium %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
